<%= render "shared/second-header"%>

<div class="contents row">
  <div class="container">
    <h3>編集ページ</h3>
    <%= form_with model: @list_form,  url: list_path(@list.id), method: :patch, local: true do |form| %>
      <%= form.text_field :content, placeholder: "購入する物" %>
      <%= form.text_field :quantity, placeholder: "数量や個数" %>
      <%= form.submit "編集" %>
    <% end %>
  </div>
</div>