<%= render "shared/header" %>

<div class="main">
  <%= link_to "追加ページ", new_list_path %>
  <%# 買い物リスト一覧 %>
  <div class='item-contents'>
    <h2 class='title'>買い物リスト</h2>
    <div class="subtitle" >
      登録されてるカテゴリー<br>
      <% @categories.each do |category| %>
          <%= category.tag_name %>
      <% end %>
    </div>
    <div class="categories">
      <ul class='item-lists'>
        <% @lists.each do |list| %>
        <li class='list'>
          <%= link_to list_path(list.id) do %>
          <div class='item-info'>
            <div class='item-name'>
              <%= list.content %>
            </div>
            <div class='item-quantity'>
              <%= list.quantity %>
            </div>
            <%= link_to "編集", edit_list_path(list.id), method: :get, class: "list-red-btn" %>
            <%= link_to "削除", list_path(list.id), data: {turbo_method: :delete}, class:"list-destroy" %>
          </div>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# /買い物リスト一覧 %>
</div>